#remove html file extension https://ayaan-codes.github.io/a-co/portfolio.html 
# to https://ayaan-codes.github.io/a-co/portfolio 
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.html [NC, L] 
